@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --Highlight-color: #01996d;
  --bgcolor: #245852;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
ul {
  padding: 0;
  list-style: none;
}
/* header */
.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
}
.header {
  max-width: 1920px; /* проба изменение разметки*/
  width: 100%; /* проба изменение разметки*/
  margin: 0 auto;
  margin-top: 85px;
  padding-top: 175px;
  min-height: 895px;
  background-image: url(../imges/header-BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-h1 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 65px;
  color: var(--Highlight-color);
  max-width: 440px;
  width: 100%;
  margin-bottom: 30px;
}
.header-p {
  max-width: 420px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: #484848;
  margin-bottom: 53px;
}
.btn {
  border-radius: 4px;
  padding: 20px 48px;
  max-width: 227px;
  width: 100%;
  height: 65px;
  border: none;
  background: var(--Highlight-color);
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.btn:hover {
  background-color: #07ddf9;
}
/* navbar */
.navbar {
  max-width: 1920px; /*проба изменение разметки*/
  width: 100%; /* проба изменение разметки*/
  margin: 0 auto; /* проба изменение разметки*/
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  left: 50%; /*Отодвигаем блок на 50% влев от лев края */
  transform: translateX(-50%); /*Сдвигаем блок на 50% влево от центра */
}
.navbar-logo {
  display: inline-block;
  margin-right: 171px;
}
.navbar-flex {
  min-height: 85px;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-flex a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #292929;
}
.navbar-item3 {
  display: flex;
  align-items: center;
}
.navbar-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-right: 39px;
}
.menu-flex {
  display: flex;
  gap: 72px;
  margin-right: 281px;
}
.btn__menu {
  max-width: 181px;
  width: 100%;
  height: 51px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* release */
.release {
  max-width: 1920px; /* проба изменение разметки*/
  width: 100%; /* проба изменение разметки*/
  margin: 0 auto; /* проба изменение разметки*/
  padding-top: 169px;
  padding-bottom: 49px;
}
.container-release {
  max-width: 1413px;
  width: 100%;
  margin: 0 auto;
  padding-left: 24px;
}
.release-head__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 139px;
}
.head-item1 {
}
.release-p {
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: #424242;
}
.text__h2 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: var(--Highlight-color);
  /* letter-spacing: 3.1px; */
}
.rel-h2__size {
  max-width: 584px;
  width: 100%;
}
.text__p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
  margin-bottom: 45px;
}
.main-text__size {
  max-width: 382px;
  width: 100%;
  margin-bottom: 90px;
}
.main-item1 .main-text__size {
  margin-bottom: 60px;
}
.rel-p__size {
  max-width: 671px;
  width: 100%;
  padding-top: 60px;
}
.release-main__flex {
  display: flex;
  gap: 95px;
}
.main-item1 {
  max-width: 390px;
  width: 100%;
  position: relative;
}
.main-item2 {
  padding-top: 282px;
  max-width: 390px;
  width: 100%;
  position: relative;
}
.main-item2 .release-img {
  margin-bottom: 65px;
}
.main-item2 .text__p {
  margin-bottom: 36px;
}
.main-item3 {
  padding-top: 50px;
  max-width: 390px;
  width: 100%;
  position: relative;
}
.main-item3 .text__p {
  letter-spacing: 0.2px;
}
.main-item3 .release-img {
  margin-bottom: 33px;
}
.release-img {
  margin-bottom: 60px;
  padding-left: 3px;
}
.release-img:nth-of-type(3) {
  margin-bottom: 40px;
  padding-left: 3px;
}
.release-h4 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000;
}
.rel-posit__h4 {
  position: absolute;
  left: 85px;
  top: 48px;
  z-index: 10;
}
.rel-posit2__h4 {
  position: absolute;
  left: 76px;
  top: 334px;
  z-index: 10;
}
.rel-posit3__h4 {
  position: absolute;
  left: 131px;
  top: 102px;
  z-index: 10;
}
.releaseImg {
}
/* section about */
.about {
  max-width: 1920px; /* проба изменение разметки*/
  width: 100%; /* проба изменение разметки*/
  margin: 0 auto; /* проба изменение разметки*/
  background-color: var(--bgcolor);
}
.about-container {
  max-width: 1506px;
  width: 100%;
  margin: 0 auto;
  padding-top: 229px;
  padding-bottom: 173px;
  padding-left: 20px;
  padding-right: 20px;
}
.about-flex {
  display: flex;
}
.about-item1 {
}
.text__h2 {
}
.about__h2 {
  padding-top: 20px;
  color: #fff;
  padding-top: 82px;
  margin-bottom: 35px;
}
.about-p {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #fff;
  padding-bottom: 54px;
}
.about-btn {
  max-width: 240px;
  width: 100%;
}
.about-item2 {
}
.about-item2__relative {
  position: relative;
}
.about-link {
}
.about-img {
  border-radius: 16px;
  max-width: 895px;
  width: 100%;
  /* height: 516px; */
}
.about-icon {
  position: absolute;
  top: 38.5%;
  left: 43.3%;
}
/* иконки Fontello */
.icon-play-circled2-1 {
  color: #fff;
  font-size: 90px;
  font-weight: 400;
}
.icon-play-circled2-1:hover {
  color: var(--Highlight-color);
}
/* product */
.product {
  max-width: 1920px; /* проба изменение разметки*/
  width: 100%; /* проба изменение разметки*/
  margin: 0 auto; /* проба изменение разметки*/
  padding-top: 119px;
  padding-bottom: 165px;
}
.product-flex {
  display: flex;
  padding-left: 60.68px;
  padding-bottom: 74.74px;
}
.product-item1 {
  position: relative;
}
.product-img {
}
.product-card {
  position: absolute;
  bottom: -72px;
  left: -63px;
  display: inline-block;
  border-radius: 4px;
  width: 296px;
  height: 293px;
  padding: 22.64px 55.14px 30.27px 61px;
  background-color: #fff;
  box-shadow: 0px 0px 12px 4px rgb(99, 98, 98, 0.5);
}
.card-h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: #000;
  padding-bottom: 7.67px;
}
.card-line {
  border: 0.75px solid #000;
  width: 110px;
  height: 0.5px;
  margin: 0 auto;
  margin-bottom: 13.7px;
}
.card-user {
  display: block;
  margin: 0 auto;
}
.card-p {
  font-weight: 400;
  font-size: 11px;
  line-height: 157%;
  text-align: center;
  color: #000;
  padding-top: 8.33px;
}
.card-h2 {
  font-family: Georgia, serif;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  line-height: 157%;
  color: #000;
  padding-top: 22.35px;
}
.card-list {
  font-size: 10px;
  line-height: 157%;
  color: #000;
  list-style-type: disc; /* Восстанавливает маркеры */
  padding-left: 20px;
  margin: 0;
}
.card-list li {
  padding-top: 15.93px;
}
.product-item2 {
  padding-left: 85.63px;
}
.item2-p {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #424242;
  padding-bottom: 12px;
}
.item2__h2 {
  margin-bottom: 20px;
}
.text-item2 {
  max-width: 530px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 157%;
  color: #484848;
  margin-bottom: 26px;
}
.product-item2__btn {
}
/* footer */
.footer {
  max-width: 1920px; /* проба изменение разметки*/
  width: 100%; /* проба изменение разметки*/
  margin: 0 auto; /* проба изменение разметки*/
  background-color: var(--bgcolor);
  padding-top: 102px;
  padding-bottom: 84px;
}
.footer-img {
  margin-bottom: 60px;
}
.footer-list {
}
.footer-list li {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 60px;
}
.footer-list a {
  color: #fff;
  text-decoration: none;
}
.footer-list li a:hover {
  color: var(--Highlight-color);
  cursor: pointer;
}
.navbar-item3 a:hover {
  color: var(--Highlight-color);
}
.menu-mobile {
  display: none;
  max-width: 150px;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
}

/* Медиазапросы */
@media screen and (max-width: 1370px) {
  .navbar-flex {
    justify-content: space-around;
  }
  .navbar-logo {
    display: inline-block;
    margin-right: 0px;
  }
  .header {
    padding-left: 20px;
  }
  .menu-flex {
    margin-right: 0px;
  }
  .release-head__flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 139px;
  }
  .release-main__flex {
    gap: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .container-release {
    padding-right: 24px;
  }
  .about-flex {
    flex-wrap: wrap;
    gap: 23px;
    padding: 0 20px;
  }
  .footer {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .menu-flex {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}
@media screen and (max-width: 570px) {
  .navbar-flex {
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .release {
    padding-top: 55px;
  }
  .about-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer {
    padding-top: 52px;
    padding-bottom: 40px;
  }
  .footer-list li {
    margin-bottom: 35px;
  }
}
